@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

#nav {
	display: flex;
	justify-content: space-between;
	background-color: hsl(210, 100%, 20%);
	align-items: center;
	color: #fff;
}
#nav span {
	margin-left: 1rem;
}
#nav div {
	display: flex;
}
.nav-link {
	display: block;
	text-decoration: none;
	padding: 1rem;
	color: inherit;
}

.nav-link:hover {
	background-color: hsl(210, 100%, 15%);
}
header {
	height: 100vh;
	background: linear-gradient(to left, #333, #333);
}
#hero {
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}
